*box-sizing: border-box;
 .body{
	float: left;
	width: 100%;
}
.nav{
	float: left;
	width: 98%;
    margin-left: 1rem;
}

	ul {
  list-style-type: none;
  overflow: hidden;
  background-color: blue;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}

li a.active {
  color: black;
  background-color:#f3f3f3;
}
.h{
  float: left;
  width: 100%;
  height: 30rem;
  background-color: orange;
}
.hh{
  float: left;
  width: 30%;
  height: 30rem;
  padding: 15px;
}
.hhh{
  float: left;
  width: 30%;
  height: 30rem;
  padding: 15px;
}
.hhhh{
  float: left;
  width: 30%;
  height: 30rem;
  padding: 15px;
}































