.b1{
	float: left;
	width: 100%;
	padding-left: 2rem;
}
.a1{
	float: left;
	width: 34rem;
	height: 70rem;
}
.c1{
	float: left;
	width: 16rem;
	height: 20rem;

}
.b2{
	float: left;
	width: 16rem;
	height: 9rem;
	background-color: yellow;
	border: 1rem solid;
}
.b3{
	float: left;
	width: 16rem;
	height: 9rem;
	background-color: yellow;
	border: 1rem solid;
}
.b4{
	float: left;
	width: 16rem;
	height: 20rem;
	background-color: yellow;
	border: 1rem solid;
}
.b5{
	float: left;
	width: 32rem;
	height: 20rem;
	background-color: yellow;
	border: 1rem solid;
}
.a2{
	float: left;
	width: 18rem;
	height: 70rem;
}
.b6{
	float: left;
	width: 16rem;
	height: 12.5rem;
	background-color: yellow;
	border: 1rem solid;
}
.b7{
	float: left;
	width: 16rem;
	height: 12.5rem;
	background-color: yellow;
	border: 1rem solid;
}
.b8{
	float: left;
	width: 16rem;
	height: 13rem;
	background-color: yellow;
	border: 1rem solid;
}
.a3{
	float: left;
	width: 27rem;
	height: 70rem;
}
.b9{
	float: left;
	width: 27rem;
	height: 16rem;
	background-color: yellow;
	border: 1rem solid;
}
.c2{
	float: left;
	width: 27rem;
	height: 7rem;
}
.b10{
	float: left;
	width: 27rem;
	height: 7rem;
	background-color: yellow;
	border: 1rem solid;
}
.b11{
	float: left;
	width: 27rem;
	height: 15rem;
	background-color: yellow;
	border: 1rem solid;
    margin-top: 32px;
}



















































