body {
  margin: 0;
  padding: 0;
}

table {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  border: 2px solid black;
}

table tr td {
  /* margin: 10px; */
  color: black;
}
table tr:nth-child(even) {
  background-color: #acaaaa;
}
table tr td:nth-child(0) {
  font-weight: bold;

}
/*
table tr td:nth-child(1) {
  background: #34a160;
} */
