bookstore{
	background-color: #edf2ef;
	width: 90%; 
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

book { 
	color: #000; 
	background-color : gray; 
	margin: 10px; 
} 
title, author, publisher, price, year { 
	display : block; 
} 
title { 
	font-size : 30px; 
	font-weight : bold; 
	color: 212738;
} 
author{
	color: #d1d646;
	font-size: 20px;
}

year{
	color: #f97068;
}

