.c1{
			width:100%;
			float:left;
			height:30rem;
			background-color: red;
		}
		.c2{
			width:25%;
			float:left;
			height: 30rem;
			background-color: #80ff84;
		}
		.c3{
	        width:90.8%;
	        float:left;
	        height:2rem;
        	background-color: red;
	        margin-top:1rem;
	        margin-left: 1rem;
	    }
	    .c4{
	        width:90.8%;
	        float:left;
	        height:14rem;
	        background-color: red;
	        margin-top: 2rem;
	        margin-left: 1rem;
        }
 		.c5{
			width:100%;
			float:left;
			height:10rem;
			margin-top:1rem;
			background-color: #4dc9ff;
		}
		.block {
            display: block;
            width: 90%;
            border: none;
            background-color: white;
            color: black;
            padding: 6px 12px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            margin-top: 1rem;
            margin-left: 1rem;
        }

        .block:hover {
           background-color: green;
           color: green;
         }
		.c6{
			width:25%;
			float:left;
			height: 30rem;
			background-color: #4682b4;
		}
		.c7{
			width:100%;
			float:left;
			height: 7.5rem;
			background-color: #4682b4;
		}
		.c8{
			width:100%;
			float:left;
			height: 7.5rem;
			background-color: #8fbc8f;
		}
		.c9{
			width:100%;
			float:left;
			height: 7.5rem;
			background-color: #00bfff;
		}
		.c10{
			width:100%;
			float:left;
			height: 7.5rem;
			background-color: grey;
		}
		.c11{
			width:50%;
			float:left;
			height:3rem;
			background-color: black;
		}
		.c12{
			width:30%;
			float:left;
			height: 20rem;
			background-color: #708090;
		}
		.c13{
			width:20%;
			float:left;
			height: 20rem;
			background-color: #93e9be;
		}
		.c14{
			width:16.6%;
			float:left;
			height: 7rem;
			background-color: #ba55d3;
		}
		.c15{
			width:16.6%;
			float:left;
			height: 7rem;
			background-color: #d1edf2;
		}
		.c16{
			width:16.8%;
			float:left;
			height: 7rem;
			background-color: orange;
		}
