#linearGradient {
    height: 50px;
    background-image: linear-gradient(red, yellow, blue, green);
  }
  #grad1 {
  height: 50px;
  background-image: linear-gradient(to right, red , blue);
}
#grad2 {
  height: 50px;
  background-image: linear-gradient(to bottom right, red , blue);
}
#grad3 {
  height: 55px;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
#grad4 {
  height: 50px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
#grad5 {
  height: 50px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}